<div>
  <div>
    <h1>
      List of all authors
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new author
    </h2>

    <form action="/insert_author" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="bio_box">
          Bio
        </label>

        <textarea id="bio_box" name="query_bio" rows="3"></textarea>
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <button>
        Create author
      </button>
    </form>
  </div>
</div>

Back to list of all <a href="/books">Books</a>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Name
        </th>

        <th>
          Bio
        </th>

        <th>
          Image
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_authors.each do |an_author| %>
      <tr>
        <td>
          <%= an_author.name %>
        </td>

        <td>
          <%= an_author.bio %>
        </td>

        <td>
          <img src=<%= an_author.image %> width=25% height=25%>
        </td>

        <td>
          <a href="/authors/<%= an_author.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
