<div><h1 class="text-center">Welcome to Wordy!</h1></div>

<div><h1 class="text-center text-success">This is a place where you can keep track of the books you have read. You can find books in the existing database or add your own books.</h1></div>

<h2 class="text-center"><a href="/user_sign_in">Sign In</a> or <a href="/user_sign_up">Sign Up</a> to start tracking!</h2>

<div class="text-center">
<img src="https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg">
</div>
