<h1>Welcome to Wordy!</h1>

<h1>This is a place where you can keep track of the books you have read. You can find books in the existing database or add your own books.</h1>

<h2><a href="/user_sign_in">Sign In</a> or <a href="/user_sign_up">Sign Up</a> to start tracking!</h2>
